nav
  .menu-icon
    i.fa.fa-bars
  .logo
    a(style='text-decoration: none; ', href='/') ENGLISH FOR YOU
  ul
    li
      a(href='waitingpage') Words Explain
    li
      a(href='watingpage/chat') Chat
    li
      a(href='') Listen
    li
      a.active(href='login') Login
    li
      a#logout-btn.active(type='button', href='#') Logout